@model List<Feedback.DAL.Model.UserInfo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> rigths = (List<string>)Session["rights"];
}
<hr />
<div class="container">
    <div class="row search-form">
        <fieldset class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        Name: <input type="text" />
                    </div>
                    <div class="col-md-4">
                        User Name: <input type="text" />
                    </div>
                    <div class="col-md-4">
                        Gender: <input type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        User Type: <input type="text" />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <button class="btn btn-danger">Reset</button>
                </div>
                <div class="row">
                    <button class="btn btn-success">Search</button>
                </div>
            </div>
            
        </fieldset>
    </div>
    <div class="row btn-add">
        <a href="~/User/Add" class="btn btn-primary"><span class="glyphicon glyphicon-plus">Add</span> </a>
    </div>
</div>
 
    <table class="table table-striped">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Address</td>
            <td>Phone Number</td>
            <td>Email</td>
            <td>Gender</td>
            <td>User Name</td>
            <td>Password</td>
            <td>User Type</td>
            <td>Action</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Email</td>
                @if (item.Gender == true)
                {
                    <td>Male</td>
                }
                else
                {
                    <td>Female</td>
                }
                <td>@item.UserName</td>
                <td>@item.Password</td>
                <td>@item.UserRole.Name</td>
                <td>
                    <button class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></button>
                    @if (rigths.Contains("edit.course"))
                    {
                        <button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
                    }
                    <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
        }
    </table>
<style>
    .btn-add{
        margin:10px;
    }
    .search-form{
        margin-top:-5px;
        border:1px solid;
    }
        .search-form fieldset {
            padding: 5px;
            margin: 0;
            border:1px solid;
        }
    
</style>